extends layout.pug 

block content 
    div.container 
    h1 Create Dream 
        if error
            p.error Some error occured! Try again!
        if success 
            p.success Dream is added! 

    form.form(action="/create" method='POST')
        label Author 
        input.input(type="name" name='name')

        label Title 
        input.input(type="text" name='title')

        label Write your dream 
        textarea.input(type="text" name="description")

        button.btn Create dream