doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="/static/styles.css")
        title Dreams
    body 
        header.navbar
            h1 
                a(href="/") Dream

            nav.nav  
                a(href="/create") Add a Dream
                a(href="/notes") My Dreams
                a(href="/posts") All Dreams 
                
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bowser/1.9.4/bowser.min.js"></script>     
        block content