doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="/static/styles.css")
        title Dreams
    body 
        header.navbar
            h1 
                a.designed(href="/") Dream
                <style> @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');</style>

            nav.nav  
                a(href="/create") Add a Dream
                a(href="/posts") All Dreams
        
        block content