extends layout.pug

block content 
    div.container 
        h1 My Dreams 

        each note in notes 
            div.note-wrapper
                a.note(href='/notes/details')= note.title
                a.delete(href='#') Delete